add_newline = false

format = '''
$character$directory$python$conda$git_branch$cmd_duration'''

[cmd_duration]
min_time = 500
format = 'took [$duration](bold yellow) '

[character]
format = "$symbol "
success_symbol = "[➜](bold green)"
error_symbol = "[➜](bold red)"

[directory]
format = "[$path]($style) "
style = "bold cyan"
truncation_length = 1
truncation_symbol = ""
truncate_to_repo = false
use_os_path_sep = true

[git_branch]
format = '[git:](green)[\(](white)[$branch]($style)[\)](white) '
# format = '[$symbol$branch]($style) '
symbol = " "
style = "purple"

[conda]
format = '[conda:](green)[\(](white)[$environment]($style)[\)](white) '
# format = '[$symbol$environment]($style) '
symbol = ' '
style = "purple"

[python]
format = '[${symbol}](green)[\(](white)[$virtualenv]($style)[\)](white) '
python_binary = ['python3']
symbol = '󰌠 '
style = "purple"
